version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: drogon-app
    container_name: drogon_api_container
    ports:
      - "8080:8080"
    restart: unless-stopped
    # Optional: Limits to ensure the container doesn't consume all host resources
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M